* {
    box-sizing: border-box;
    margin: 0;
}
input:invalid {
    border: red solid 3px;
  }

body {
    min-height: 100vh;
    background-color: aquamarine;
}

#weatherInfo {
text-align: center;


    
}

.foreColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;

}

.hideMe {
    visibility: hidden;
}

.showMe {
    visibility: visible;
}

